body {
    box-sizing: border-box;
    background-color: aliceblue;
    margin: 0px;
}

*, *::after, *::before{
    box-sizing: border-box;
}

header {
    width: 1440px;
    height: 56px;
    background-color: #ffffff;
    border-bottom: 1px solid #f8e0ff;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center; 
    justify-content: center;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}


.name {
    margin: 16px, auto;
    width: 206px;
    height: 24px;
}